<h1>User: <%= @user.username %></h1>
<div class="span6">
	<table class="table table-striped table-bordered">
		<tr><td>User</td><td><%= @user.username  %></td></tr>
		<tr><td>Email</td><td><%= @user.email  %></td></tr>

	</table>
	<%= link_to 'All Users', users_path %>
</div>