<h1>Role: <%= @role.name %></h1>
<div class="span6">
	<table class="table table-striped table-bordered">
		<tr><td>User</td><td><%= @role.name  %></td></tr>
		<tr><td>Email</td><td><%= @role.category  %></td></tr>

	</table>
	<%= link_to 'All Roles', roles_path %>
</div>
