 <li class="nav-header">Sales</li>
<!--li><%= link_to raw('<i class="icon-barcode"></i>Dashboard') %> </li-->
<li><%= link_to raw('<i class="icon-fire"></i>Sales'), sale_meter_readings_path %> </li>
<li class="divider"></li>

<li class="nav-header">Supplies</li>
<li><%= link_to raw('<i class="icon-exclamation-sign"></i>Delivery'), waybills_path %> </li>