<li class="nav-header">Accounts Mgmt </li>
<li><%= link_to raw('<i class="icon-user"></i>Accounts'), accounts_path %></li>
<li><%= link_to raw('<i class="icon-user"></i>Users'), users_path %></li>
<li class="divider"></li>

<!--%= render 'layouts/menu_admin' %-->