<!--Holds the Menu bar at the left side of the screen-->
<div class="span2">

    <ul class="nav nav-list well well-small" >  
        <% if current_user.has_role? :super_admin  %>
            <%= render 'layouts/menu_super_admin' %>
        <% end %>   

        <% if current_user.has_role? :admin  %>
            <%= render 'layouts/menu_admin' %>
        <% end %> 

        <% if current_user.has_role? :manager  %>
            <%= render 'layouts/menu_manager' %>

        <% end %>      

        <% if current_user.has_role? :sales  %>
            <%= render 'layouts/menu_sales_person' %>
        <% end %>      
        
    </ul>
</div>